/* placeholder for my css file*/

/* positioning */
/* box model */
/* text */
/* visual */

body{
    /* positioning */
    position: relative;
}

.container {
    /* positioning */
    /* box model */
    /* text */
    /* visual */

}

.navbar-brand {
    /* positioning */
    height: 40px;
    width: 120px;
    /* box model */
    margin: 10px 800px 10px 10px;
    /* text */
    text-align: center;
    /* visual */
    background-color: rgb(27, 170, 170);

}

#navbar-span {
    /* text */
    color: white;
    font-weight: bolder;


}

.main-body-container {
    /* positioning */
    height: 750px;
    width: 1080px;
    /* box model */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    /* text */
    /* visual */
    align-self: center;
}

.left-container{
    /* positioning */
    /* box model */
    /* text */
    font-size: large;
    /* visual */

}

.right-container{
    /* positioning */
    /* box model */
    /* text */
    font-size: large;
    /* visual */


}

.left-img{
    /* positioning */
    width: 400px;
    /* box model */
    /* text */
    /* visual */
    float: left;

}

.viz-card{
    /* positioning */
    /* box model */
    margin: 40px 20px 40px 20px;
    width: 100px;
    height: 100px;
    /* text */
    text-align: center;
    /* visual */

}

.comp-viz-card {
    /* positioning */
    /* box model */
    margin: 10px 60px 10px 50px;
    width: 400px;
    /* text */
    text-align: center;
    /* visual */

}
.viz-image {
    /* positioning */
    width: 150px;
    height: 125px;
    /* box model */
    /* text */
    /* visual */
}

.comp-viz-image {
    /* positioning */
    width: 350px;
    /* box model */
    /* text */
    /* visual */

}

h1 {
    /* text */
    color: rgb(27, 170, 170);
    font-weight: bolder;
    font-size:x-large;

}

h6{
    /* text */
    color: rgb(27, 170, 170);
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
}

h5 {
    /* text */
    color: rgb(27, 170, 170);
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;

}
footer {
    /* text */
    text-align: center;
}